<!-- shop/templates/orders_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Список заказов{% endblock %}

{% block content %}
<h1>Список заказов</h1>
<ul class="border bottom">
    {% for order in orders %}
    <li>ID заказа: {{ order.id }},
        Клиент: {{ order.client.username }},
        Сумма: {{ order.total_amount }} руб.,
        Дата заказа: {{ order.order_date }}
    </li>
    {% empty %}
    <li>Нет заказов в базе данных.</li>
    {% endfor %}
</ul>
    {% include 'article-form.html' %}
{% include 'footer_menu.html' %}
{% endblock %}
